[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

click = "*"
python-frontmatter = "*"
click-default-group = "*"


[dev-packages]

bumpversion = "*"
invoke = "*"
wheel = "*"
